.App {
  text-align: center;
  background-color: #6f2e1e;
  margin-top: -2rem;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  color: #6e3be6;
  padding: 2rem;
}

.user-card {
  background-color: Green;
  margin: 1.7rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #41444f;
}